html{
	font-family: 'Noto Sans KR', sans-serif;
	word-break: keep-all;
	font-size: 18pt;
}

body{
	text-align: center;
	margin: 20px;
	background-size: center;
	background-color: silver;
}

h1{
	font-size: 18pt;
	font-weight: normal;
	background: yellow;
	display: inline-block;
	text-align: left;
}

a{
	color: yellow;
	text-decoration: underline;
} 


a:visited{
	color: yellow
}

img{
	width: 60vw;
}

#red:hover{
background-color: red;}
#green:hover{
background-color: green;}
#blue:hover{
background-color: blue;}
#purple:hover{
background-color: purple;}
#blackwhite:hover{
background-color: grey;}

.redsocks{
	color: red;
}
.greensocks{
	color: green;
}
.bluesocks{
	color: blue;
}
.purplesocks{
	color: purple;
}
.blackandwhitesocks{
	color: silver;
	background-color: #2E2E2E;
}
.animalflowersocks{
	background-image: url("nature .jpg");
	margin: 20px;
	background-size: 100%;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.geometricsocks{
    background-image: url("geometric .jpg");
    margin: 20px;
	background-size: 100%;
	color: black;
	text-shadow: 2px 2px 2px white;
}

.typesocks{
    background-image: url("text.jpg");
	background-size: 100%;
}

.abstractsocks{
    background-image: url("abstract .jpg");
	background-size: 120%;
	color: white;
}

.shoppedsocks{
	background-image: url("Shop .mp4");
	background-size: cover;
	background-position: center;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.shoppedsocks a:hover{
	filter: hue-rotate(90deg);
	background-color: rgba(0,0,0,0);
}

.giftpresentedsocks{
    background-image: url("video.mp4");
	background-size: cover;
	background-position: center;
	color: white;
	text-shadow: 2px 2px 2px black;
}